body {
  font-family: Arial;
  text-align: center;
	background: #FFFFFF;
	font-weight: 400;
	font-size: 1em;
	font-family: Arial, sans-serif;
	margin:0 auto;
	padding:0 12px;
}

/* animation because why not*/
@keyframes colorchange {
  from {color: white;}
  to {color: magenta;}
}

#header {
  height: 25em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
}

h1 {
  font-size: 5em;
  color: red;
  animation-name: colorchange;
  animation: colorchange 1s infinite alternate;
}

.navigation a {
  padding: 10px;
  font-size: 1.2em;
  color: magenta;
  display: flex;
}

.navigation a:hover {
  color: green;
}

.strapline{
  font-size: 1.2em;
  font-style: italic;
  color: grey;
}

.navigation {
  padding: 0px;
  display: inline-flex;
}

img {
  display: inline-flex;
  padding: 10px;
  height: 35%;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.ParallaxImage {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

.bg1 {
  background-image: url("https://ik.imagekit.io/logikblok/Scan_24_fKzJ3-nQJZ.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1620488723463");
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}