body {
  margin: 0;
  border: 0;
  font-family: Arial;
  text-align: center;
  font-size: 1.2em;
}

h1 {
  font-size: 5em;
}

/* animation because why not*/
@keyframes colorchange {
  from {color: black;}
  to {color: cyan;}
}

h1 {
  color: red;
  animation-name: colorchange;
  animation: colorchange 2s infinite alternate;
}

.navigation a {
  padding: 10px;
  font-size: 1.2em;
}

.strapline{
  font-size: 1.2em;
}

.navigation {
  padding: 0px;
  display: inline-flex;
}

.about {
  width: 100%;
}

img {
  display: inline-flex;
  padding: 10px;
  height: 35%;
  width: 35%;
}

about {
  display: flex;
}
