body {
  font-family: Arial;
  text-align: center;
	font-weight: 5em;
	font-size: 1em;
}

/* animation because why not*/
@keyframes colorchange {
  from {color: white;}
  to {color: magenta;}
}

#header {
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 5em;
  animation-name: colorchange;
  animation: colorchange 1s infinite alternate;
}

.navigation a {
  padding: 10px;
  font-size: 1.3em;
  color: magenta;
  display: inline-flex;
}

.navigation a:hover {
  color: green;
}

.strapline{
  font-size: 1.2em;
  font-style: bold;
  color: grey;
}

.navigation {
  padding: 0px;
  display: inline-flex;
}

img {
  display: inline-flex;
  padding: 10px;
  height: 35%;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.ParallaxImage {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    padding: 5em;
}

.bg1 {
  background-image: url("https://ik.imagekit.io/logikblok/Scan_24_fKzJ3-nQJZ.jpeg");
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}